In [1]:
import pandas as pd

# 生データ

In [4]:
!ls ../data/raw

★講義室座席数一覧.xls  ★講義室設備一覧.xlsx

In [89]:
xlsx_path = '../data/materials/★講義室座席数一覧.xls'
df = pd.read_excel(xlsx_path, header=1)
df.head(10)

   講 義 室 Unnamed: 1 最大\n席数  ｺﾛﾅ前\n試験対応\n2020  ｺﾛﾅ対応\n2021.11～  可動式  Unnamed: 6
0    NaN        NaN    NaN               NaN              NaN  NaN         NaN
1   K1号館       B101    108              54.0             54.0  NaN         NaN
2    NaN        NaN    NaN               NaN              NaN  NaN         NaN
3    NaN       B102    108              54.0             54.0  NaN         NaN
4    NaN        NaN    NaN               NaN              NaN  NaN         NaN
5    NaN        201    114              57.0             64.0  NaN         NaN
6    NaN        NaN    NaN               NaN              NaN  NaN         NaN
7    NaN        202    183              93.0            112.0  NaN         NaN
8    NaN        NaN    NaN               NaN              NaN  NaN         NaN
9    NaN        303     84              42.0             56.0  NaN         NaN

# 整形

In [90]:
# 不要な行の削除
df = df.drop(columns='Unnamed: 6')
df = df[:-8]
df = df.dropna(axis=0, how='all')

# 講義室5224のみエクセルシートの席数が二段になっているため、除去
df = df.drop(index=134)

df = df.reset_index(drop=True)

In [91]:
# ヘッダーを修正
cols = ['施設名', '講義室', '最大席数', '試験時席数', 'コロナ対応席数', '可動式']
df.columns = cols

In [92]:
# 施設名を埋める
df['施設名'] = df['施設名'].fillna(method='ffill')

In [93]:
df.head()

    施設名   講義室 最大席数  試験時席数  コロナ対応席数  可動式
0  K1号館  B101  108   54.0     54.0  NaN
1  K1号館  B102  108   54.0     54.0  NaN
2  K1号館   201  114   57.0     64.0  NaN
3  K1号館   202  183   93.0    112.0  NaN
4  K1号館   303   84   42.0     56.0  NaN

In [94]:
# 欠損値確認
df.isnull().sum()

施設名         0
講義室         0
最大席数        0
試験時席数       0
コロナ対応席数     0
可動式        72
dtype: int64

In [97]:
df.to_csv('../data/csv/facility_raw.csv', index=False)
# tab, \nは保存したcsvを手でいじるほうがコスト少

In [98]:
_df = pd.read_csv('../data/csv/facility.csv')
_df.isnull().sum()

施設名        0
講義室        0
最大席数       0
試験時席数      0
コロナ対応席数    0
可動式        0
情報コンセント    0
ホワイトボード    0
dtype: int64

In [99]:
_df.head()

    施設名   講義室  最大席数  試験時席数  コロナ対応席数  可動式  情報コンセント  ホワイトボード
0  K1号館  B101   108   54.0     54.0    0        1        1
1  K1号館  B102   108   54.0     54.0    0        1        1
2  K1号館   201   114   57.0     64.0    0        1        0
3  K1号館   202   183   93.0    112.0    0        1        0
4  K1号館   303    84   42.0     56.0    0        1        0